/* app/assets/stylesheets/custom.css */

.filter-buttons {
    position: fixed;
    top: 60px; 
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .filter-button {
    display: inline-block;
    margin-bottom: 5px;
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .filter-button:hover {
    background-color: #2980b9;
  }
  